
@{
    Layout = "_Layout";
}

<!-- Start Page Title -->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Đăng nhập & Đăng ký</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li><a href="index-1.html">Trang chủ</a></li>
                <li class="separator">&nbsp;</li>
                <li>Đăng nhập & Đăng ký</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title -->
<!-- Start Account Access -->
<div class="container padding-top-1x padding-bottom-3x">
    <div class="row">
        <div class="col-md-6">
            <form class="login-box" method="post">
                <h4 class="margin-bottom-1x">Đăng nhập bằng tài khoản:</h4>
                <div class="row margin-bottom-1x">
                    <div class="col-xl-6 col-md-6 col-sm-6"><a class="btn btn-sm btn-block facebook-btn" href="#"><i class="socicon-facebook"></i>&nbsp;Facebook</a></div>
                    <div class="col-xl-6 col-md-6 col-sm-6"><a class="btn btn-sm btn-block google-btn" href="#"><i class="socicon-googleplus"></i>&nbsp;Google+</a></div>
                </div>
                <h4 class="margin-bottom-1x">Hoặc sử dụng tài khoản:</h4>
                <div class="form-group input-group">
                    <input class="form-control" type="email" placeholder="Nhập E-Mail" required><span class="input-group-addon"><i class="icon-mail"></i></span>
                </div>
                <div class="form-group input-group">
                    <input class="form-control" type="password" placeholder="Nhập mật khẩu" required><span class="input-group-addon"><i class="icon-lock"></i></span>
                </div>
                <div class="d-flex flex-wrap justify-content-between padding-bottom-1x">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="remember_me" checked>
                        <label class="custom-control-label" for="remember_me">Ghi nhớ tài khoản</label>
                    </div><a class="navi-link" href="account-password-recovery.html">Quên mật khẩu?</a>
                </div>
                <div class="text-center text-sm-right">
                    <button class="btn btn-primary margin-bottom-none" type="submit">Đăng nhập</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="padding-top-3x hidden-md-up"></div>
            <h3 class="margin-bottom-1x padding-top-1x">Chưa có tài khoản? Đăng ký tại đây</h3>
            <p>Hãy điền đầy đủ các thông tin sau để đăng ký ...</p>
            <form class="row" method="post">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="reg-fn">Họ</label>
                        <input class="form-control" type="text" id="reg-fn" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="reg-ln">Tên</label>
                        <input class="form-control" type="text" id="reg-ln" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="reg-email">Địa chỉ E-Mail</label>
                        <input class="form-control" type="email" id="reg-email" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="reg-phone">Số điện thoại</label>
                        <input class="form-control" type="text" id="reg-phone" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="reg-pass">Mật khẩu</label>
                        <input class="form-control" type="password" id="reg-pass" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="reg-pass-confirm">Nhập lại mật khẩu</label>
                        <input class="form-control" type="password" id="reg-pass-confirm" required>
                    </div>
                </div>
                <div class="col-12 text-center text-sm-right">
                    <button class="btn btn-primary margin-bottom-none" type="submit">Đăng ký</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Account Access -->