
@{
    Layout = "_Layout";
}

<!-- Start Page Title -->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Thông báo</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li><a href="index-1.html">Trang chủ</a></li>
                <li class="separator">&nbsp;</li>
                <li>Thông báo</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title -->
<!-- Start My Tickets -->
<div class="container padding-top-1x padding-bottom-3x">
    <div class="row">
        <div class="col-lg-4">
            <aside class="user-info-wrapper">
                <div class="user-cover account-details">
                    <div class="info-label" data-toggle="tooltip" title="You currently have 530 Reward Points to spend"><i class="icon-medal"></i>530 Điểm</div>
                </div>
                <div class="user-info">
                    <div class="user-avatar"><a class="edit-avatar" href="#"></a><img src="/assets/images/account/user-ava.jpg" alt="User"></div>
                    <div class="user-data">
                        <h4>Tony Stark</h4><span>Joined February 06, 2018</span>
                    </div>
                </div>
            </aside>
            <nav class="list-group">
                <a class="list-group-item" href="account-profile.html"><i class="icon-head"></i>Thông tin tài khoản</a>
                <a class="list-group-item" href="account-bank.html"><i class="icon-columns"></i>Ngân hàng</a>
                <a class="list-group-item with-badge" href="account-orders.html"><i class="icon-bag"></i>Đơn hàng<span class="badge badge-primary badge-pill">6</span></a>
                <a class="list-group-item with-badge" href="account-wishlist.html"><i class="icon-heart"></i>Sản phẩm đã thích<span class="badge badge-primary badge-pill">3</span></a>
                <a class="list-group-item with-badge  active" href="account-notification.html"><i class="icon-bell"></i>Thông báo<span class="badge badge-primary badge-pill">4</span></a>
                <a class="list-group-item" href="account-changepass.html"><i class="icon-repeat"></i>Đổi mật khẩu</a>
            </nav>
        </div>
        <div class="col-lg-8">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>
            <div class="table-responsive">
                <table class="table table-hover margin-bottom-none">
                    <thead>
                        <tr>
                            <th>Loại</th>
                            <th>Ngày</th>
                            <th>Tiêu đề</th>
                            <th>Tình trạng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a class="text-medium navi-link" href="account-single-ticket.html">Ticket #1</a></td>
                            <td>08/08/2018</td>
                            <td>Website Problem</td>
                            <td><span class="text-primary">Open</span></td>
                        </tr>
                        <tr>
                            <td><a class="text-medium navi-link" href="account-single-ticket.html">Ticket #2</a></td>
                            <td>07/07/2018</td>
                            <td>Shipping Problem</td>
                            <td><span class="text-muted">Closed</span></td>
                        </tr>
                        <tr>
                            <td><a class="text-medium navi-link" href="account-single-ticket.html">Ticket #3</a></td>
                            <td>06/06/2018</td>
                            <td>Product Problem</td>
                            <td><span class="text-muted">Closed</span></td>
                        </tr>
                        <tr>
                            <td><a class="text-medium navi-link" href="account-single-ticket.html">Ticket #4</a></td>
                            <td>05/05/2018</td>
                            <td>Account Problem</td>
                            <td><span class="text-muted">Closed</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- End My Tickets -->