
@{
    Layout = "_Layout";
}

<!-- Start Page Title -->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Tất cả sản phẩm</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li>
                    <a href="index-1.html">Trang chủ</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>Tất cả sản phẩm</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title -->
<!-- Start Page Content -->
<div class="container padding-top-1x padding-bottom-3x">
    <div class="row">
        <!-- Start Categories Content -->
        <div class="col-lg-9 order-lg-2">
            <!-- Start Toolbar -->
            <div class="shop-toolbar mb-30">
                <div class="column">
                    <div class="shop-sorting">
                        <label for="sorting">Sắp xếp:</label>
                        <select class="form-control" id="sorting">
                            <option>Mặc định</option>
                            <option>Gía từ thấp - cao</option>
                            <option>Gía từ cao - thấp</option>
                            <option>Tên A - Z</option>
                            <option>Tên Z - A</option>
                        </select>
                    </div>
                </div>
                <div class="column">
                    <span class="text-muted">Hiển thị: </span><span> 1 - 12 sản phẩm</span>
                </div>
            </div>
            <!-- End Toolbar -->
            <!-- Start Products Grid -->
            <div class="isotope-grid cols-3">
                <div class="gutter-sizer"></div>
                <div class="grid-sizer"></div>
                <!-- Start Product #1 -->
                <div class="grid-item">
                    <div class="product-card">
                        <a class="product-thumb" href="shop-single-3.html">
                            <img src="/assets/images/shop/products/01.jpg" alt="Product">
                        </a>
                        <h3 class="product-title"><a href="shop-single-3.html">iPhone x</a></h3>
                        <h4 class="product-price">
                            <del>$799.99</del>$649.99
                        </h4>
                        <div class="product-buttons">
                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                                <i class="icon-heart"></i>
                            </button>
                            <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Thêm vào giỏ</button>
                        </div>
                    </div>
                </div>
                <!-- End Product #1 -->
                <!-- Start Product #2 -->
                <div class="grid-item">
                    <div class="product-card">
                        <a class="product-thumb" href="#">
                            <img src="/assets/images/shop/products/05.jpg" alt="Product">
                        </a>
                        <h3 class="product-title"><a href="#">Panasonic TX-32</a></h3>
                        <h4 class="product-price">$800.00</h4>
                        <div class="product-buttons">
                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                                <i class="icon-heart"></i>
                            </button>
                            <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!-- End Product #2 -->
                <!-- Start Product #3 -->
                <div class="grid-item">
                    <div class="product-card">
                        <div class="rating-stars">
                            <i class="icon-star filled"></i>
                            <i class="icon-star filled"></i>
                            <i class="icon-star filled"></i>
                            <i class="icon-star filled"></i>
                            <i class="icon-star filled"></i>
                        </div>
                        <a class="product-thumb" href="#">
                            <img src="/assets/images/shop/products/09.jpg" alt="Product">
                        </a>
                        <h3 class="product-title"><a href="#">Sony HDR-AS50R</a></h3>
                        <h4 class="product-price">$549.00</h4>
                        <div class="product-buttons">
                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                                <i class="icon-heart"></i>
                            </button>
                            <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!-- End Product #3 -->
                <!-- Start Product #4 -->
                <div class="grid-item">
                    <div class="product-card">
                        <a class="product-thumb" href="#">
                            <img src="/assets/images/shop/products/13.jpg" alt="Product">
                        </a>
                        <h3 class="product-title"><a href="#">HP LaserJet Pro 200</a></h3>
                        <h4 class="product-price">
                            <del>$249.99</del>$189.99
                        </h4>
                        <div class="product-buttons">
                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                                <i class="icon-heart"></i>
                            </button>
                            <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!-- End Product #4 -->
                <!-- Start Product #5 -->
                <div class="grid-item">
                    <div class="product-card">
                        <a class="product-thumb" href="#">
                            <img src="/assets/images/shop/products/17.jpg" alt="Product">
                        </a>
                        <h3 class="product-title"><a href="#">Apple Watch 3</a></h3>
                        <h4 class="product-price">$299.00</h4>
                        <div class="product-buttons">
                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                                <i class="icon-heart"></i>
                            </button>
                            <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!-- End Product #5 -->
                <!-- Start Product #6 -->
                <div class="grid-item">
                    <div class="product-card">
                        <div class="rating-stars">
                            <i class="icon-star filled"></i>
                            <i class="icon-star filled"></i>
                            <i class="icon-star filled"></i>
                            <i class="icon-star filled"></i>
                            <i class="icon-star"></i>
                        </div>
                        <a class="product-thumb" href="#">
                            <img src="/assets/images/shop/products/21.jpg" alt="Product">
                        </a>
                        <h3 class="product-title"><a href="#">Acer Aspire 15.6 i3</a></h3>
                        <h4 class="product-price">$649.00</h4>
                        <div class="product-buttons">
                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                                <i class="icon-heart"></i>
                            </button>
                            <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!-- End Product #6 -->
                <!-- Start Product #7 -->
                <div class="grid-item">
                    <div class="product-card">
                        <a class="product-thumb" href="#">
                            <img src="/assets/images/shop/products/25.jpg" alt="Product">
                        </a>
                        <h3 class="product-title"><a href="#">Playstation 4</a></h3>
                        <h4 class="product-price">
                            <del>$499.99</del>$349.99
                        </h4>
                        <div class="product-buttons">
                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                                <i class="icon-heart"></i>
                            </button>
                            <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!-- End Product #7 -->
                <!-- Start Product #8 -->
                <div class="grid-item">
                    <div class="product-card">
                        <a class="product-thumb" href="#">
                            <img src="/assets/images/shop/products/02.jpg" alt="Product">
                        </a>
                        <h3 class="product-title"><a href="#">Samsung Galaxy S8</a></h3>
                        <h4 class="product-price">$700.00</h4>
                        <div class="product-buttons">
                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                                <i class="icon-heart"></i>
                            </button>
                            <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!-- End Product #8 -->
                <!-- Start Product #9 -->
                <div class="grid-item">
                    <div class="product-card">
                        <div class="rating-stars">
                            <i class="icon-star filled"></i>
                            <i class="icon-star filled"></i>
                            <i class="icon-star filled"></i>
                            <i class="icon-star filled"></i>
                            <i class="icon-star"></i>
                        </div>
                        <a class="product-thumb" href="#">
                            <img src="/assets/images/shop/products/06.jpg" alt="Product">
                        </a>
                        <h3 class="product-title"><a href="#">Sony VAIO Z8</a></h3>
                        <h4 class="product-price">$749.00</h4>
                        <div class="product-buttons">
                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                                <i class="icon-heart"></i>
                            </button>
                            <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!-- End Product #9 -->
                <!-- Start Product #10 -->
                <div class="grid-item">
                    <div class="product-card">
                        <a class="product-thumb" href="#">
                            <img src="/assets/images/shop/products/10.jpg" alt="Product">
                        </a>
                        <h3 class="product-title"><a href="#">JVC Camcorder X5</a></h3>
                        <h4 class="product-price">
                            <del>$899.99</del>$749.99
                        </h4>
                        <div class="product-buttons">
                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                                <i class="icon-heart"></i>
                            </button>
                            <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!-- End Product #10 -->
                <!-- Start Product #11 -->
                <div class="grid-item">
                    <div class="product-card">
                        <a class="product-thumb" href="#">
                            <img src="/assets/images/shop/products/14.jpg" alt="Product">
                        </a>
                        <h3 class="product-title"><a href="#">Canon LaserJet X6</a></h3>
                        <h4 class="product-price">$200.00</h4>
                        <div class="product-buttons">
                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                                <i class="icon-heart"></i>
                            </button>
                            <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!-- End Product #11 -->
                <!-- Start Product #12 -->
                <div class="grid-item">
                    <div class="product-card">
                        <div class="rating-stars">
                            <i class="icon-star filled"></i>
                            <i class="icon-star filled"></i>
                            <i class="icon-star filled"></i>
                            <i class="icon-star filled"></i>
                            <i class="icon-star"></i>
                        </div>
                        <a class="product-thumb" href="#">
                            <img src="/assets/images/shop/products/18.jpg" alt="Product">
                        </a>
                        <h3 class="product-title"><a href="#">Android Watch X8</a></h3>
                        <h4 class="product-price">$255.00</h4>
                        <div class="product-buttons">
                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                                <i class="icon-heart"></i>
                            </button>
                            <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!-- End Product #12 -->
            </div>
            <!-- End Products Grid -->
            <!-- Start Pagination -->
            <nav class="pagination">
                <div class="column text-left">
                    <a class="btn btn-outline-secondary btn-sm" href="#"><i class="icon-arrow-left"></i> Trang trước</a>
                </div>
                <div class="column">
                    <ul class="pages">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li>...</li>
                        <li><a href="#">10</a></li>
                        <li><a href="#">20</a></li>
                        <li><a href="#">30</a></li>
                    </ul>
                </div>
                <div class="column text-right hidden-xs-down">
                    <a class="btn btn-outline-secondary btn-sm" href="#">Trang sau <i class="icon-arrow-right"></i></a>
                </div>
            </nav>
            <!-- End Pagination -->
        </div>
        <!-- End Categories Content -->
        <!-- Start Sidebar -->
        <div class="col-lg-3 order-lg-1 hidden-md-down">
            <aside class="sidebar">
                <div class="padding-top-2x hidden-lg-up"></div>
                <!-- Start Categories Widget -->
                <section class="widget widget-categories">
                    <h3 class="widget-title">Danh mục</h3>
                    <ul>
                        <li class="has-children expanded">
                            <a href="#">Mobile Phones</a><span>(1277)</span>
                            <ul>
                                <li>
                                    <a href="#">Apple</a><span>(700)</span>
                                    <ul>
                                        <li><a href="#">iPhone x 64GB</a></li>
                                        <li><a href="#">iPhone 8 128GB</a></li>
                                        <li><a href="#">iPhone 7 Red</a></li>
                                        <li><a href="#">iPhone 6 Plus</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Samsung</a><span>(500)</span>
                                    <ul>
                                        <li><a href="#">Samsung Galaxy S8</a></li>
                                        <li><a href="#">Samsung Galaxy S7</a></li>
                                        <li><a href="#">Samsung Galaxy J5</a></li>
                                        <li><a href="#">Samsung Golden A5</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Nokia Mobile</a><span>(37)</span></li>
                                <li><a href="#">BlackBerry Phones</a><span>(42)</span></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">PC & Laptops</a><span>(800)</span>
                            <ul>
                                <li>
                                    <a href="#">Apple</a><span>(500)</span>
                                    <ul>
                                        <li><a href="#">MacBook Pro 13.3</a></li>
                                        <li><a href="#">MacBook Pro 15.6</a></li>
                                        <li><a href="#">MacBook Pro 17</a></li>
                                        <li><a href="#">MacBook Pro 19</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Lenovo</a><span>(250)</span>
                                    <ul>
                                        <li><a href="#">Lenovo Core i3</a></li>
                                        <li><a href="#">Lenovo Core i5</a></li>
                                        <li><a href="#">Lenovo Core i7</a></li>
                                        <li><a href="#">Lenovo Core 2 Quad</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Asus</a><span>(50)</span></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Tabs & Tablets</a><span>(420)</span>
                            <ul>
                                <li><a href="#">iPad 3 1TB</a><span>(180)</span></li>
                                <li><a href="#">Samsung Tab Pro</a><span>(140)</span></li>
                                <li><a href="#">Lenovo Tab 3TB</a><span>(100)</span></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Accessories</a><span>(760)</span>
                            <ul>
                                <li><a href="#">Televisions</a><span>(160)</span></li>
                                <li><a href="#">Camcorders</a><span>(100)</span></li>
                                <li><a href="#">Watches</a><span>(100)</span></li>
                                <li><a href="#">Jewelry</a><span>(200)</span></li>
                                <li><a href="#">Other</a><span>(200)</span></li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <!-- End Categories Widget -->
                <!--  Start Price Range Widget -->
                <section class="widget widget-categories">
                    <h3 class="widget-title">Lọc theo gía</h3>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="<3.5tr">
                        <label class="custom-control-label" for="<3.5tr">0 - 3.500.000 VND</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="3.5-10tr">
                        <label class="custom-control-label" for="3.5-10tr">3.500.000 - 10.000.000 VND</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id=">10tr">
                        <label class="custom-control-label" for=">10tr">10.000.000 - 20.000.000 VND</label>
                    </div>
                </section>
                <!--  End Price Range Widget -->
                <!-- Start Brand Filter Widget -->
                <section class="widget">
                    <h3 class="widget-title">Lọc theo hãng</h3>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="apple">
                        <label class="custom-control-label" for="apple">Apple <span class="text-muted">(197)</span></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="samsung">
                        <label class="custom-control-label" for="samsung">Samsung <span class="text-muted">(123)</span></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="sony">
                        <label class="custom-control-label" for="sony">Sony <span class="text-muted">(148)</span></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="nokia">
                        <label class="custom-control-label" for="nokia">Nokia <span class="text-muted">(164)</span></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="oppo">
                        <label class="custom-control-label" for="oppo">Oppo <span class="text-muted">(139)</span></label>
                    </div>
                </section>
                <!-- End Brand Filter Widget -->
                <!-- Start Size Filter Widget -->
                <section class="widget">
                    <h3 class="widget-title">Lọc theo màu</h3>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="trang">
                        <label class="custom-control-label" for="trang">Trắng</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="den">
                        <label class="custom-control-label" for="den">Đen</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="do">
                        <label class="custom-control-label" for="do">Đỏ</label>
                    </div>
                </section>
                <!-- End Size Filter Widget -->
            </aside>
        </div>
        <!-- End Sidebar -->
    </div>
</div>
<!-- End Page Content -->