<footer class="site-footer">
    <div class="container">
        <!-- Start Footer Info -->
        <div class="row">
            <!-- Start Contact Info -->
            <div class="col-lg-6 col-md-6">
                <section class="widget widget-dank-skin">
                    <h3 class="widget-title">Thông tin liên hệ</h3>
                    <p class="text-gray"><i class="fa fa-phone"></i> +1 888 888 8888</p>
                    <p class="text-gray"><i class="fa fa-envelope-o"></i> info@yoursite.com</p>
                    <p class="text-gray"><i class="fa fa-map-marker"></i> 221B Baker Street, London, UK</p>
                </section>
            </div>
            <!-- End Contact Info -->
            <!-- Start Social Info -->
            <div class="col-lg-6 col-md-6">
                <section class="widget widget-links widget-dank-skin">
                    <h3 class="widget-title">Mạng xã hội</h3>
                    <ul>
                        <li><a href="#"><i class="socicon-facebook"></i> Facebook</a></li>
                        <li><a href="#"><i class="socicon-twitter"></i> Twitter</a></li>
                        <li><a href="#"><i class="socicon-googleplus"></i> Google</a></li>
                        <li><a href="#"><i class="socicon-instagram"></i> Instagram</a></li>
                    </ul>
                </section>
            </div>
            <!-- End Social Info -->
        </div>
        <!-- End Footer Info -->
        <hr class="hr-dank">
        <!-- Start Copyright -->
        <p class="footer-copyright text-center">© 2018 Inspina | All rights reserved</p>
        <!-- End Copyright -->
    </div>
</footer>