<header class="navbar navbar-sticky">
    <!-- Start Logo -->
    <div class="site-branding">
        <div class="inner">
            <a class="site-logo" href="index-1.html"><img src="/assets/images/logo/logo-2.png" alt="Inspina" width="200"></a>
        </div>
    </div>
    <!-- End Logo -->
    <!-- Start Search -->
    <nav class="site-menu">
        <form class="input-group">
            <input type="text" name="site_search" class="form-control" placeholder="Tên sản phẩm, tên shop,..." aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Tìm kiếm</button>
            </div>
        </form>
    </nav>
    <!-- End Search -->
    <!-- Start Toolbar -->
    <div class="toolbar">
        <div class="inner">
            <div class="tools">
                <!-- Start Account -->
                <div class="account">
                    <a href="account-profile.html"></a><i class="icon-head"></i>
                    <ul class="toolbar-dropdown">
                        <li class="sub-menu-user">
                            <div class="user-ava">
                                <img src="/assets/images/account/user-ava-sm.jpg" alt="Tony Stark">
                            </div>
                            <div class="user-info">
                                <h6 class="user-name">Tony Stark</h6>
                                <span class="text-xs text-muted">530 Điểm</span>
                            </div>
                        </li>
                        <li><a href="account-profile.html">Thông tin tài khoản</a></li>
                        <li><a href="account-orders.html">Đơn hàng</a></li>
                        <li><a href="account-wishlist.html">Sản phẩm yêu thích</a></li>
                        <li class="sub-menu-separator"></li>
                        <li><a href="account-login.html"><i class="fa fa-lock"></i> Đăng xuất</a></li>
                    </ul>
                </div>
                <!-- End Account -->
                <!-- Start Cart -->
                <div class="cart">
                    <a href="cart.html"></a>
                    <i class="icon-bag"></i>
                    <span class="count">3</span>
                    <div class="toolbar-dropdown">
                        <div class="dropdown-product-item">
                            <span class="dropdown-product-remove"><i class="icon-cross"></i></span>
                            <a class="dropdown-product-thumb" href="shop-single-1.html">
                                <img src="/assets/images/cart-dropdown/01.jpg" alt="Product">
                            </a>
                            <div class="dropdown-product-info">
                                <a class="dropdown-product-title" href="shop-single-1.html">Samsung Galaxy A8</a>
                                <span class="dropdown-product-details">1 x $520</span>
                            </div>
                        </div>
                        <div class="dropdown-product-item">
                            <span class="dropdown-product-remove"><i class="icon-cross"></i></span>
                            <a class="dropdown-product-thumb" href="shop-single-2.html">
                                <img src="/assets/images/cart-dropdown/02.jpg" alt="Product">
                            </a>
                            <div class="dropdown-product-info">
                                <a class="dropdown-product-title" href="shop-single-2.html">Panasonic TX-32</a>
                                <span class="dropdown-product-details">2 x $400</span>
                            </div>
                        </div>
                        <div class="dropdown-product-item">
                            <span class="dropdown-product-remove"><i class="icon-cross"></i></span>
                            <a class="dropdown-product-thumb" href="shop-single-3.html">
                                <img src="/assets/images/cart-dropdown/03.jpg" alt="Product">
                            </a>
                            <div class="dropdown-product-info">
                                <a class="dropdown-product-title" href="shop-single-3.html">Acer Aspire 15.6 i3</a>
                                <span class="dropdown-product-details">1 x $600</span>
                            </div>
                        </div>
                        <div class="toolbar-dropdown-group">
                            <div class="column">
                                <span class="text-lg">Total:</span>
                            </div>
                            <div class="column text-right">
                                <span class="text-lg text-medium">$1920 </span>
                            </div>
                        </div>
                        <div class="toolbar-dropdown-group">
                            <div class="column">
                                <a class="btn btn-sm btn-block btn-secondary" href="cart.html">Giỏ hàng</a>
                            </div>
                            <div class="column">
                                <a class="btn btn-sm btn-block btn-success" href="checkout-address.html">Thanh toán</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Cart -->
            </div>
        </div>
    </div>
    <!-- End Toolbar -->
</header>