
@{
    ViewData["Title"] = "Home Page";
}

<!-- Start Main Slider -->
<div class="hero-slider home-1-hero">
    <div class="owl-carousel large-controls dots-inside" data-owl-carousel='{"nav": true, "dots": true, "loop": true, "autoplay": true, "autoplayTimeou": 7000}'>
        <!-- Start Slide #1 -->
        <div class="item">
            <div class="container padding-top-3x">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center hidden-md-down">
                        <div class="from-bottom">
                            <img class="d-inline-block w-150 mb-4" src="../assets/images/hero-slider/logo02.png" alt="Puma">
                            <div class="h2 text-body text-normal mb-2 pt-1">Sony Mobile Collection</div>
                            <div class="h2 text-body text-normal mb-4 pb-1">starting at <span class="text-bold">$200</span></div>
                        </div>
                        <a class="btn btn-primary scale-up delay-1" href="shop-categories-1.html">Shop Now</a>
                    </div>
                    <div class="col-md-6 padding-bottom-2x mb-3">
                        <img class="d-block mx-auto" src="../assets/images/hero-slider/02.png" alt="Puma Backpack">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slide #1 -->
        <!-- Start Slide #2 -->
        <div class="item">
            <div class="container padding-top-3x">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center hidden-md-down">
                        <div class="from-bottom">
                            <img class="d-inline-block w-200 mb-4" src="../assets/images/hero-slider/logo01.png" alt="Converse">
                            <div class="h2 text-body text-normal mb-2 pt-1">Intel Laptops Collection</div>
                            <div class="h2 text-body text-normal mb-4 pb-1">starting at <span class="text-bold">$372</span></div>
                        </div>
                        <a class="btn btn-primary scale-up delay-1" href="shop-categories-2.html">Shop Now</a>
                    </div>
                    <div class="col-md-6 padding-bottom-2x mb-3">
                        <img class="d-block mx-auto" src="../assets/images/hero-slider/01.png" alt="Chuck Taylor All Star II">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slide #2 -->
        <!-- Start Slide #3 -->
        <div class="item">
            <div class="container padding-top-3x">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center hidden-md-down">
                        <div class="from-bottom">
                            <img class="d-inline-block mb-4 home-1-hero-item" src="../assets/images/hero-slider/logo03.png" alt="Motorola">
                            <div class="h2 text-body text-normal mb-2 pt-1">LG Televisions Collection</div>
                            <div class="h2 text-body text-normal mb-4 pb-1">starting at <span class="text-bold">$460</span></div>
                        </div>
                        <a class="btn btn-primary scale-up delay-1" href="shop-categories-3.html">Shop Now</a>
                    </div>
                    <div class="col-md-6 padding-bottom-2x mb-3">
                        <img class="d-block mx-auto" src="../assets/images/hero-slider/03.png" alt="Moto 360">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slide #3 -->
    </div>
</div>
<!-- End Main Slider -->
<!-- Start Category -->
<br>
<section class="bg-secondary padding-top-1x padding-bottom-1x">
    <div class="container">
        <ul class="nav nav-pills justify-content-center">
            @foreach (DanhMucSP i in Model.content)
         {
            <a class="btn btn-outline-primary-2" href="#">@i.TenDM</a>

        }

        </ul>
    </div>
</section>
<!-- End Category -->
<!-- Start Top Products -->
<section class="container padding-top-3x padding-bottom-3x">
    <h3 class="text-center mb-30">SẢN PHẨM HOT</h3>
    <div class="owl-carousel"
         data-owl-carousel='{"nav": true, "dots": true, "margin": 30, "responsive": {"0":{"items":1},"576":{"items":2},"768":{"items":3},"991":{"items":4},"1200":{"items":4}} }'>
        <!-- Start Product #1 -->
        <div class="grid-item">
            <div class="product-card">
                <a class="product-thumb" href="shop-single-3.html">
                    <img src="../assets/images/shop/products/01.jpg" alt="Product">
                </a>
                <h3 class="product-title"><a href="shop-single-3.html">iPhone X</a></h3>
                <h4 class="product-price">$749.99</h4>
                <div class="product-buttons">
                    <div class="product-buttons">
                        <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                            <i class="icon-heart"></i>
                        </button>
                        <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Product #1 -->
        <!-- Start Product #2 -->
        <div class="grid-item">
            <div class="product-card">
                <div class="rating-stars">
                    <i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i>
                </div>
                <a class="product-thumb" href="shop-single-2.html">
                    <img src="../assets/images/shop/products/05.jpg" alt="Product">
                </a>
                <h3 class="product-title"><a href="shop-single-2.html">Panasonic TX-32</a></h3>
                <h4 class="product-price">$949.50</h4>
                <div class="product-buttons">
                    <div class="product-buttons">
                        <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                            <i class="icon-heart"></i>
                        </button>
                        <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Product #2 -->
        <!-- Start Product #3 -->
        <div class="grid-item">
            <div class="product-card">
                <a class="product-thumb" href="shop-single-3.html">
                    <img src="../assets/images/shop/products/09.jpg" alt="Product">
                </a>
                <h3 class="product-title"><a href="shop-single-3.html">Sony HDR-AS50R</a></h3>
                <h4 class="product-price">$700.00</h4>
                <div class="product-buttons">
                    <div class="product-buttons">
                        <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                            <i class="icon-heart"></i>
                        </button>
                        <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Product #3 -->
        <!-- Start Product #4 -->
        <div class="grid-item">
            <div class="product-card">
                <div class="rating-stars">
                    <i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i>
                </div>
                <a class="product-thumb" href="shop-single-2.html">
                    <img src="../assets/images/shop/products/13.jpg" alt="Product">
                </a>
                <h3 class="product-title"><a href="shop-single-2.html">HP LaserJet Pro 200</a></h3>
                <h4 class="product-price">$249.50</h4>
                <div class="product-buttons">
                    <div class="product-buttons">
                        <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                            <i class="icon-heart"></i>
                        </button>
                        <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Product #4 -->
        <!-- Start Product #5 -->
        <div class="grid-item">
            <div class="product-card">
                <a class="product-thumb" href="shop-single-3.html">
                    <img src="../assets/images/shop/products/17.jpg" alt="Product">
                </a>
                <h3 class="product-title"><a href="shop-single-3.html">Apple Watch 3</a></h3>
                <h4 class="product-price">$449.00</h4>
                <div class="product-buttons">
                    <div class="product-buttons">
                        <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                            <i class="icon-heart"></i>
                        </button>
                        <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Product #5 -->
        <!-- Start Product #6 -->
        <div class="grid-item">
            <div class="product-card">
                <div class="rating-stars">
                    <i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i>
                </div>
                <a class="product-thumb" href="shop-single-2.html">
                    <img src="../assets/images/shop/products/21.jpg" alt="Product">
                </a>
                <h3 class="product-title"><a href="shop-single-2.html">Acer Aspire 15.6 i3</a></h3>
                <h4 class="product-price">$649.50</h4>
                <div class="product-buttons">
                    <div class="product-buttons">
                        <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                            <i class="icon-heart"></i>
                        </button>
                        <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Product #6 -->
    </div>
</section>
<!-- End Top Products -->
<!-- Start Promo Banner -->
<div class="alert alert-image-bg alert-dismissible fade show text-center mb-30 alert-img">
    <div class="h3 text-medium text-white padding-top-1x padding-bottom-1x">
        <i class="fa fa-bell alert-fa"></i> Lorem Ipsum is simply dummy text of the ...
        <div class="mt-3 hidden-xl-up"></div><a class="btn btn-primary" href="shop-grid-1.html">View Offers</a>
    </div>
</div>
<!-- End Promo Banner -->
<!-- Start Featured Products -->
<section class="container padding-top-3x padding-bottom-3x">
    <h3 class="text-center mb-30">TÌM KIẾM HÀNG ĐẦU</h3>
    <div class="isotope-grid cols-4">
        <div class="gutter-sizer"></div>
        <div class="grid-sizer"></div>
        <!-- Start Product #1 -->
        <div class="grid-item">
            <div class="product-card">
                <a class="product-thumb" href="shop-single-1.html">
                    <img src="../assets/images/shop/products/01.jpg" alt="Product">
                </a>
                <h3 class="product-title"><a href="shop-single-1.html">iPhone x</a></h3>
                <h4 class="product-price"><del>$799.99</del>$649.99</h4>
                <div class="product-buttons">
                    <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                        <i class="icon-heart"></i>
                    </button>
                    <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                </div>
            </div>
        </div>
        <!-- End Product #1 -->
        <!-- Start Product #2 -->
        <div class="grid-item">
            <div class="product-card">
                <a class="product-thumb" href="shop-single-2.html">
                    <img src="../assets/images/shop/products/05.jpg" alt="Product">
                </a>
                <h3 class="product-title"><a href="shop-single-2.html">Panasonic TX-32</a></h3>
                <h4 class="product-price">$800.00</h4>
                <div class="product-buttons">
                    <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                        <i class="icon-heart"></i>
                    </button>
                    <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                </div>
            </div>
        </div>
        <!-- End Product #2 -->
        <!-- Start Product #3 -->
        <div class="grid-item">
            <div class="product-card">
                <div class="rating-stars">
                    <i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star"></i>
                </div>
                <a class="product-thumb" href="shop-single-3.html">
                    <img src="../assets/images/shop/products/09.jpg" alt="Product">
                </a>
                <h3 class="product-title"><a href="shop-single-3.html">Sony HDR-AS50R</a></h3>
                <h4 class="product-price">$549.00</h4>
                <div class="product-buttons">
                    <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                        <i class="icon-heart"></i>
                    </button>
                    <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                </div>
            </div>
        </div>
        <!-- End Product #3 -->
        <!-- Start Product #4 -->
        <div class="grid-item">
            <div class="product-card">
                <a class="product-thumb" href="shop-single-1.html">
                    <img src="../assets/images/shop/products/13.jpg" alt="Product">
                </a>
                <h3 class="product-title"><a href="shop-single-1.html">HP LaserJet Pro 200</a></h3>
                <h4 class="product-price">$189.00</h4>
                <div class="product-buttons">
                    <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                        <i class="icon-heart"></i>
                    </button>
                    <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                </div>
            </div>
        </div>
        <!-- End Product #4 -->
        <!-- Start Product #5 -->
        <div class="grid-item">
            <div class="product-card">
                <div class="product-badge text-danger">50% Off</div>
                <a class="product-thumb" href="shop-single-2.html">
                    <img src="../assets/images/shop/products/17.jpg" alt="Product">
                </a>
                <h3 class="product-title"><a href="shop-single-2.html">Apple Watch 3</a></h3>
                <h4 class="product-price"><del>$299.99</del>$199.99</h4>
                <div class="product-buttons">
                    <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                        <i class="icon-heart"></i>
                    </button>
                    <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                </div>
            </div>
        </div>
        <!-- End Product #5 -->
        <!-- Start Product #6 -->
        <div class="grid-item">
            <div class="product-card">
                <a class="product-thumb" href="shop-single-3.html">
                    <img src="../assets/images/shop/products/21.jpg" alt="Product">
                </a>
                <h3 class="product-title"><a href="shop-single-3.html">Acer Aspire 15.6 i3</a></h3>
                <h4 class="product-price">$649.00</h4>
                <div class="product-buttons">
                    <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                        <i class="icon-heart"></i>
                    </button>
                    <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                </div>
            </div>
        </div>
        <!-- End Product #6 -->
        <!-- Start Product #7 -->
        <div class="grid-item">
            <div class="product-card">
                <div class="rating-stars">
                    <i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star"></i>
                </div>
                <a class="product-thumb" href="shop-single-1.html">
                    <img src="../assets/images/shop/products/25.jpg" alt="Product">
                </a>
                <h3 class="product-title"><a href="shop-single-1.html">Playstation 4</a></h3>
                <h4 class="product-price">$499.00</h4>
                <div class="product-buttons">
                    <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                        <i class="icon-heart"></i>
                    </button>
                    <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                </div>
            </div>
        </div>
        <!-- End Product #7 -->
        <!-- Start Product #8 -->
        <div class="grid-item">
            <div class="product-card">
                <a class="product-thumb" href="shop-single-2.html">
                    <img src="../assets/images/shop/products/23.jpg" alt="Product">
                </a>
                <h3 class="product-title"><a href="shop-single-2.html">MacBook Pro i7</a></h3>
                <h4 class="product-price">$999.00</h4>
                <div class="product-buttons">
                    <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                        <i class="icon-heart"></i>
                    </button>
                    <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                </div>
            </div>
        </div>
        <!-- End Product #8 -->
    </div>
    <center><a class="btn btn-primary" href="shop-grid-1.html">Xem Thêm</a></center>
</section>
<!-- End Featured Products -->
<!-- Start Popular Brands -->
<section class="bg-faded padding-top-3x padding-bottom-3x">
    <div class="container">
        <h3 class="text-center mb-30">Popular Brands</h3>
        <div class="owl-carousel" data-owl-carousel='{ "nav": false, "dots": false, "loop": true, "autoplay": true, "autoplayTimeout": 4000, "responsive": {"0":{"items":2}, "470":{"items":3},"630":{"items":4},"991":{"items":5},"1200":{"items":6}} }'>
            <img class="d-block w-110 opacity-75 m-auto" src="../assets/images/brands/01.png" alt="Brands">
            <img class="d-block w-110 opacity-75 m-auto" src="../assets/images/brands/02.png" alt="Brands">
            <img class="d-block w-110 opacity-75 m-auto" src="../assets/images/brands/03.png" alt="Brands">
            <img class="d-block w-110 opacity-75 m-auto" src="../assets/images/brands/04.png" alt="Brands">
            <img class="d-block w-110 opacity-75 m-auto" src="../assets/images/brands/05.png" alt="Brands">
            <img class="d-block w-110 opacity-75 m-auto" src="../assets/images/brands/06.png" alt="Brands">
            <img class="d-block w-110 opacity-75 m-auto" src="../assets/images/brands/07.png" alt="Brands">
        </div>
    </div>
</section>
<!-- End Popular Brands -->
    <section class="container padding-bottom-3x padding-top-3x">
        <div class="row">
            <div class="col-md-12">
                <div id="paypal-button"></div>
                <script src="https://www.paypalobjects.com/api/checkout.js"></script>
                <script>
                      paypal.Button.render({
                        // Configure environment
                        env: 'sandbox',
                        client: {
                          sandbox: 'demo_sandbox_client_id',
                          production: 'demo_production_client_id'
                        },
                        // Customize button (optional)
                        locale: 'en_US',
                        style: {
                          size: 'small',
                          color: 'gold',
                          shape: 'pill',
                        },

                        // Enable Pay Now checkout flow (optional)
                        commit: true,

                        // Set up a payment
                         payment: function(data, actions) {
                          return actions.payment.create({
                            transactions: [{
                              amount: {
                                total: '30.11',
                                currency: 'USD',
                                details: {
                                  subtotal: '30.00',
                                  tax: '0.07',
                                  shipping: '0.03',
                                  handling_fee: '1.00',
                                  shipping_discount: '-1.00',
                                  insurance: '0.01'
                                }
                              },
                              description: 'The payment transaction description.',
                              custom: '90048630024435',
                              //invoice_number: '12345', Insert a unique invoice number
                              payment_options: {
                                allowed_payment_method: 'INSTANT_FUNDING_SOURCE'
                              },
                              soft_descriptor: 'ECHI5786786',
                              item_list: {
                                items: [
                                {
                                  name: 'hat',
                                  description: 'Brown hat.',
                                  quantity: '5',
                                  price: '3',
                                  tax: '0.01',
                                  sku: '1',
                                  currency: 'USD'
                                },
                                {
                                  name: 'handbag',
                                  description: 'Black handbag.',
                                  quantity: '1',
                                  price: '15',
                                  tax: '0.02',
                                  sku: 'product34',
                                  currency: 'USD'
                                }],
                                shipping_address: {
                                  recipient_name: 'Brian Robinson',
                                  line1: '4th Floor',
                                  line2: 'Unit #34',
                                  city: 'San Jose',
                                  country_code: 'US',
                                  postal_code: '95131',
                                  phone: '011862212345678',
                                  state: 'CA'
                                }
                              }
                            }],
                            note_to_payer: 'Contact us for any questions on your order.'
                          });
                        },
                        // Execute the payment
                        onAuthorize: function(data, actions) {
                          return actions.payment.execute().then(function() {
                            // Show a confirmation message to the buyer
                            window.alert('Thank you for your purchase!');
                          });
                        }
                      }, '#paypal-button');

                </script>
            </div>
        </div>
    </section>
<!-- Start Services -->
<section class="container padding-top-3x padding-bottom-3x">
    <div class="row">
        <div class="col-md-3 col-sm-6 text-center home-cat">
            <img class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="../assets/images/services/01.png" alt="Shipping">
            <h6>Free Shipping</h6>
            <p class="text-muted margin-bottom-none">On order over $200 ...</p>
        </div>
        <div class="col-md-3 col-sm-6 text-center home-cat">
            <img class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="../assets/images/services/02.png" alt="Money Back">
            <h6>Money Back</h6>
            <p class="text-muted margin-bottom-none">Moneyback guarantee ...</p>
        </div>
        <div class="col-md-3 col-sm-6 text-center home-cat">
            <img class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="../assets/images/services/03.png" alt="Support">
            <h6>24/7 Support</h6>
            <p class="text-muted margin-bottom-none">Online consultations ...</p>
        </div>
        <div class="col-md-3 col-sm-6 text-center home-cat">
            <img class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="../assets/images/services/04.png" alt="Payment">
            <h6>Secure Payment</h6>
            <p class="text-muted margin-bottom-none">Safe Shopping Guarantee ...</p>
        </div>
    </div>
</section>
<!-- End Services -->
