
@{
    Layout = "_Layout";
}

<!-- Start Page Title -->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Tiến hành đặt hàng</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li><a href="index-1.html">Trang chủ</a></li>
                <li class="separator">&nbsp;</li>
                <li>Tiến hành đặt hàng</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title -->
<!-- Start Checkout Content -->
<div class="container padding-top-1x padding-bottom-3x">
    <div class="row">
        <div class="col-lg-1"></div>
        <!-- Start Checkout Shipping -->
        <div class="col-lg-10">
            <div class="checkout-steps">
                <a class="active" href="#">4. Hoàn tất</a>
                <a class="completed" href="#"><span class="step-indicator icon-circle-check"></span><span class="angle"></span>3. Vận chuyển</a>
                <a class="completed" href="#"><span class="step-indicator icon-circle-check"></span><span class="angle"></span>2. Thông tin đơn hàng</a>
                <a class="completed" href="#"><span class="step-indicator icon-circle-check"></span></span><span class="angle"></span>1. Thông tin người nhận</a>
            </div>
            <div class="card text-center">
                <div class="card-body padding-top-2x">
                    <h3 class="card-title">Cám ơn bạn đã mua hàng!</h3>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <p class="card-text">It is a long established fact that a reader will be distracted by the readable: <span class="text-medium">35ZX598LKJ</span></p>
                    <p class="card-text">Many desktop publishing packages and web page editors now use.</p>
                    <div class="padding-top-1x padding-bottom-1x">
                        <a class="btn btn-outline-secondary" href="index-1.html">Tiếp tục mua hàng</a>
                        <a class="btn btn-outline-primary" href="account-orders.html"><i class="icon-location"></i>&nbsp;Các đơn đã đặt</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Checkout Shipping -->
    </div>
</div>
<!-- End Product Content -->