
@{
    Layout = "_Layout";
}

<!-- Start Page Title -->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Tiến hành đặt hàng</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li><a href="index-1.html">Trang chủ</a></li>
                <li class="separator">&nbsp;</li>
                <li>Tiến hành đặt hàng</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title -->
<!-- Start Checkout Content -->
<div class="container padding-top-1x padding-bottom-3x">
    <div class="row">
        <div class="col-lg-1"></div>
        <!-- Start Checkout Review -->
        <div class="col-lg-10">
            <div class="checkout-steps">
                <a href="#">4. Hoàn tất</a>
                <a href="#"><span class="angle"></span>3. Vận chuyển</a>
                <a class="active" href="checkout-review.html"><span class="angle"></span>2. Thông tin đơn hàng</a>
                <a class="completed" href="checkout-address.html"><span class="step-indicator icon-circle-check"></span></span><span class="angle"></span>1. Thông tin người nhận</a>
            </div>
            <h4>Hãy kiểm tra lại các sản phẩm đã chọn</h4>
            <div class="table-responsive shopping-cart">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th class="text-center">Tổng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="product-item">
                                    <a class="product-thumb" href="shop-single-1.html"><img src="/assets/images/shop/cart/01.jpg" alt="Product"></a>
                                    <div class="product-info">
                                        <h4 class="product-title">
                                            <a href="shop-single-1.html">iPhone X Black<small>x 1</small></a>
                                        </h4>
                                        <span><em>Size:</em> 64GB</span><span><em>Color:</em> Gold</span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center text-lg text-medium">$649.99</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-item">
                                    <a class="product-thumb" href="shop-single-1.html"><img src="/assets/images/shop/cart/02.jpg" alt="Product"></a>
                                    <div class="product-info">
                                        <h4 class="product-title">
                                            <a href="shop-single-1.html">Panasonic TX-32<small>x 1</small></a>
                                        </h4>
                                        <span><em>Size:</em> 180SM</span><span><em>Color:</em> Silver</span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center text-lg text-medium">$800.00</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-item">
                                    <a class="product-thumb" href="shop-single-1.html"><img src="/assets/images/shop/cart/03.jpg" alt="Product"></a>
                                    <div class="product-info">
                                        <h4 class="product-title">
                                            <a href="shop-single-1.html">Sony HDR-AS50R<small>x 1</small></a>
                                        </h4>
                                        <span><em>Size:</em> 20MP</span><span><em>Color:</em> Black</span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center text-lg text-medium">$549.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="shopping-cart-footer">
                <div class="column"></div>
                <div class="column text-lg">Tổng tiền: <span class="text-medium">$1998.99</span></div>
            </div>
            <div class="checkout-footer margin-top-1x">
                <div class="column hidden-xs-down"><a class="btn btn-outline-secondary" href="checkout-address.html"><i class="icon-arrow-left"></i>&nbsp;Quay lại</a></div>
                <div class="column"><a class="btn btn-primary" href="checkout-shipping.html"><span class="hidden-xs-down">Tiếp tục&nbsp;</span><i class="icon-arrow-right"></i></a></div>
            </div>
        </div>
        <!-- End Checkout Review -->
    </div>
</div>
<!-- End Product Content -->